<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Geone Dias</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
<div id="interface">
	<div class="page-header">
        <!-- Botão de editar e adicionar publicações so aparece se o usuario estiver logado-->
    {% if user.is_authenticated %}
		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
        <h1><a href="/">Geone Dias</a></h1>
        <h2>Estudante de Sistemas de Informação</h2>

        <nav id="menu">
            <h1>Menu Principal</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="historia.html">História</a></li>
                <li><a href="contato.html">Contatos</a></li>
            </ul>
        </nav>

    </div>
    <h1 id="titulodeblog">Postagens</h1>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
<footer id="rodape">
    <p>Copyright &copy; 2018 - by Geone Dias <br>
    <a href="http://facebook.com/gdiasll" target="_blank">Facebook</a> | <a href="http://twitter.com/geone01" target="_blank">Twitter</a></p>
</footer>
</div>
</body>
</html>